<div class="row justify-content-center new spacing">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <p>Enter your flight information below. We do not store any information. When you submit, we'll check you in at your checkin time.</p>

    <form {{action 'save' on="submit"}}>
      <div class="form-group">
        <label for="confirmationNumber">Confirmation Number</label>

        {{input
          class="form-control"
          id="confirmationNumber"
          maxlength="6"
          name="confirmationNumber"
          required="true"
          type="text"
        }}
      </div>

      <div class="form-group">
        <label for="passengerFirstName">First Name</label>
        {{input
          class="form-control"
          id="passengerFirstName"
          name="passengerFirstName"
          required="true"
          type="text"
        }}
      </div>

      <div class="form-group">
        <label for="passengerLastName">Last Name</label>
        {{input
          class="form-control"
          id="passengerLastName"
          name="passengerLastName"
          required="true"
          type="text"
        }}
      </div>

      <div class="form-group">
        <label for="flightDate">Flight Date</label>
        {{input
          class="form-control"
          id="flightDate"
          name="flightDate"
          required="true"
          type="date"
        }}
      </div>

      <div class="form-group">
        <label for="flightTime">Flight Time</label>
        {{input
          class="form-control"
          id="flightTime"
          name="flightTime"
          required="true"
          type="time"
        }}
      </div>

      <button
        class="btn btn-primary"
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
</div>

{{outlet}}